@model Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.Models.Compra

@{
	ViewBag.Title = "Details";
	decimal subtotal = 0;
}

<main>
	<div class="titulo-seccion">
		<h1>Detalle de orden de compra / @Model.id_compra</h1>
	</div>
	<div class="container">
		<div class="row elementos-gestion">
			@foreach (var item in Model.DetalleCompra)
			{
				subtotal = (int)item.cantidad * (decimal)item.precio;
				<div class="col-md-6 mb-4">
					<div class="card elementos-gestion">
						<div class="card-body elemento-gestion text-center">
							<div class="row">
									<h3 class="card-title h4 elemento-titulo">@item.producto.nombre</h3>
									<p class="card-text">@item.producto.descripcion</p>
									<p class="h5 card-text"><b>Precio unitario: ®@item.producto.precio</b></p>
									<p class="card-text">Cantidad: @item.cantidad</p>
									<p class="h5 card-text"><b>Subtotal: ®@subtotal</b></p>
							</div>
						</div>
					</div>
					</div>
					}
				</div>
			</div>
</main>

